body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: var(--clr-white);
}

/* General format setting */

:root {
  /* color */
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-light-gray: #a5a5a5;
  --clr-dark-gray: #333333;
  --clr-orange: #f29d33;
}

/*　Overall */

.calc-body {
  position: fixed;
  left: 25%;
  top: 100px;
  height: 492px;
  width: 246px;
  border-style: solid 10px;
  border-radius: 6%;
  background: var(--clr-black);
  /* margin: 10%; */
}

/* display result section */

.display-result {
  position: relative;
  /* top: 0px; */
  height: 30%;
  /* background: blue; */
}

.result {
  font-size: 40px;
  position: absolute;
  /* position: relative; */
  right: 0;
  bottom: 0;
  /* left: 210px; */
  /* top: 90px; */
  margin-bottom: 10px;
  margin-right: 15px;
}

/* tab section */

.tabs {
  height: 70%;

  /* background: yellow; */
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  height: 20%;
  display: flex;
  flex-direction: row;
  /* padding: 1em 0 0; */
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  justify-content: space-evenly;
}

/* border circle */

.circle {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  /* display: inline-block; */
  /* margin: 0 auto; */
  cursor: pointer;
}

.circle:hover {
  transform: scale(0.96);
}

/* hover animation */

.bg_orange:hover {
  background: var(--clr-white);
  transition: background 0.4s;
  color: var(--clr-orange);
}

.bg_dark-gray:hover {
  background: var(--clr-light-gray);
  transition: background 0.4s;
  color: var(--clr-white);
}

.bg_light-gray:hover {
  background: var(--clr-white);
  transition: background 0.4s;
  opacity: 0.8;
}

/* font color */

.font_black {
  color: var(--clr-dark-gray);
}

.font_white {
  color: var(--clr-white);
}

/* backgroung color */

.bg_light-gray {
  background: var(--clr-light-gray);
}

.bg_dark-gray {
  background: var(--clr-dark-gray);
}

.bg_orange {
  background: var(--clr-orange);
}
